.wrapper {
  position: absolute;
  inset: 0 60px;
  padding: 400px 0 0;
  display: flex;
  flex-direction: column;
  gap: 280px;

  .container {
    display: flex;
    margin: 0 auto;
    width: 973px;
    justify-content: space-between;

    span {
      font-weight: 700;
      font-size: 200px;
      letter-spacing: -0.02%;
      line-height: 0.8;
    }

    .to {
      color: #ef5da8;
    }

    .from {
      color: #5d5fef;
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    inset: 0 20px;
    padding: 163px 0 0;
    gap: 57px;

    .container {
      width: 100%;
      max-width: 300px;

      span {
        font-size: 56px;
      }
    }
  }
}
