.wrapper {
  position: absolute;

  inset: 215px 60px 295px;
  z-index: 1;
  //min-height: 1080px;

  .circle {
    --diameter: 530px;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 100%;
    border: 1px solid #42567a33;
    position: absolute;
    //top: 215px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center center;

    .dot {
      --size: 6px;
      width: var(--size);
      height: var(--size);
      margin-top: calc(var(--size) / -2);
      margin-left: calc(var(--size) / -2);
      background: #42567a;
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      cursor: pointer;

      span {
        opacity: 0;
        visibility: hidden;
      }

      p {
        position: absolute;
        left: 100%;
        transform: translateX(20px);
        opacity: 0;
        visibility: hidden;
        font-weight: 700;
      }
    }
  }

  .navigation {
    position: absolute;
    bottom: 0;
    left: 80px;

    .progress {
      margin-bottom: 20px;

      span {
        font-size: 14px;
      }
    }

    .buttons {
      display: flex;
      gap: 20px;

      button {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid #303e5880;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:after {
          content: "";
          background-image: url("/public/assets/arrow.svg");
          background-repeat: no-repeat;
          background-size: auto;
          background-position: center;
          width: 15px;
          height: 15px;
        }

        &:disabled {
          opacity: 0.5;
        }
      }

      .next:after {
        rotate: 180deg;
      }
    }

    .pagination {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    inset: 0;

    .navigation {
      left: 20px;
      bottom: 13px;
      display: flex;
      align-items: start;

      .progress {
        margin-bottom: 10px;
      }

      .buttons {
        gap: 8px;

        button {
          width: 25px;
          height: 25px;

          &:after {
            width: 8px;
            height: 8px;
          }
        }
      }

      .pagination {
        display: flex;
        gap: 10px;
        margin-top: 25px;
        margin-left: 38px;

        .paginationDot {
          width: 6px;
          height: 6px;
          background-color: #42567a;
          opacity: 0.4;
          border-radius: 100%;

          &:first-child {
            opacity: 1;
          }
        }
      }
    }

    .circle {
      display: none;
    }
  }
}
